<mat-list>
  <h3 mat-subheader>Users</h3>
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let user of users" (click)="viewDetails(user.id)">
    <img [src]="user.avatar" alt="{{user.first_name}} {{user.last_name}}" class="user-avatar">
    <div class="user-info">
      <h4>{{ user.first_name }} {{ user.last_name }}</h4>
      <p>ID: {{ user.id }}</p>
    </div>
  </mat-list-item>
  <div class="pagination-controls">
    <button *ngIf="page > 1" mat-raised-button (click)="loadPrevious()">Back</button>
    <button *ngIf="hasMorePages" mat-raised-button (click)="loadMore()">Load More</button>
  </div>
</mat-list>
