.user-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.user-item {
  align-items: center;
  margin-top: 2rem;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer !important;
  transition: 0.3s;
  overflow: visible;
}

.user-item:hover {
  background-color: #d8d6d6;
}

.user-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.user-info {
  flex-grow: 1;
  overflow: hidden;
}

.user-info h4 {
  margin: 0;
  font-size: 16px;
}

.user-info p {
  margin: 0;
  font-size: 14px;
  color: #757575;
}

.pagination-controls {
  margin-top: 20px;
}

.pagination-controls button {
  min-width: 120px;
}
.custom-input {
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.custom-input:hover {
  background-color: #e8eaf6;
}

.custom-input:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
  outline: none;
}
